In [1]:
import pandas as pd
amazon_review_sa_binary_csv_amazon_train = pd.read_csv('amazon_review_sa_binary_csv/train.csv')
amazon_review_sa_binary_csv_amazon_test = pd.read_csv('amazon_review_sa_binary_csv/test.csv')

In [2]:
amazon_train = amazon_review_sa_binary_csv_amazon_train.copy()
amazon_train['class_index'] = amazon_train['class_index'].replace({2: 1, 1: 0})
amazon_train = amazon_train.rename(columns={'class_index': 'LABEL', 'review_text': 'TEXT'})
amazon_train['TEXT'] = amazon_train['review_title'] + " " + amazon_train['TEXT']
amazon_train = amazon_train.drop(columns=['review_title'])
amazon_train

         LABEL                                               TEXT
0            1  Stuning even for the non-gamer This sound trac...
1            1  The best soundtrack ever to anything. I'm read...
2            1  Amazing! This soundtrack is my favorite music ...
3            1  Excellent Soundtrack I truly like this soundtr...
4            1  Remember, Pull Your Jaw Off The Floor After He...
...        ...                                                ...
3599995      0  Don't do it!! The high chair looks great when ...
3599996      0  Looks nice, low functionality I have used this...
3599997      0  compact, but hard to clean We have a small hou...
3599998      0  what is it saying? not sure what this book is ...
3599999      1  Makes My Blood Run Red-White-And-Blue I agree ...

[3600000 rows x 2 columns]

In [6]:
amazon_test = amazon_review_sa_binary_csv_amazon_test.copy()
amazon_test['class_index'] = amazon_test['class_index'].replace({2: 1, 1: 0})
amazon_test = amazon_test.rename(columns={'class_index': 'LABEL', 'review_text': 'TEXT'})
amazon_test['TEXT'] = amazon_test['review_title'] + " " + amazon_test['TEXT']
amazon_test = amazon_test.drop(columns=['review_title'])
amazon_test

        LABEL                                               TEXT
0           1  Great CD My lovely Pat has one of the GREAT vo...
1           1  One of the best game music soundtracks - for a...
2           0  Batteries died within a year ... I bought this...
3           1  works fine, but Maha Energy is better Check ou...
4           1  Great for the non-audiophile Reviewed quite a ...
...       ...                                                ...
399995      0  Unbelievable- In a Bad Way We bought this Thom...
399996      0  Almost Great, Until it Broke... My son recieve...
399997      0  Disappointed !!! I bought this toy for my son ...
399998      1  Classic Jessica Mitford This is a compilation ...
399999      0  Comedy Scene, and Not Heard This DVD will be a...

[400000 rows x 2 columns]

In [7]:
amazon_data = pd.concat([amazon_train, amazon_test], axis=0)
amazon_data = amazon_data.reset_index(drop=True)
amazon_data

         LABEL                                               TEXT
0            1  Stuning even for the non-gamer This sound trac...
1            1  The best soundtrack ever to anything. I'm read...
2            1  Amazing! This soundtrack is my favorite music ...
3            1  Excellent Soundtrack I truly like this soundtr...
4            1  Remember, Pull Your Jaw Off The Floor After He...
...        ...                                                ...
3999995      0  Unbelievable- In a Bad Way We bought this Thom...
3999996      0  Almost Great, Until it Broke... My son recieve...
3999997      0  Disappointed !!! I bought this toy for my son ...
3999998      1  Classic Jessica Mitford This is a compilation ...
3999999      0  Comedy Scene, and Not Heard This DVD will be a...

[4000000 rows x 2 columns]

In [8]:
amazon_short_text_data = amazon_data[amazon_data['TEXT'].str.len() <= 250]
amazon_short_text_data = amazon_short_text_data.reset_index(drop=True)
amazon_short_text_data = amazon_short_text_data[amazon_short_text_data['TEXT'].str.match(r'^[A-Za-z0-9 .,!?\'"-]+$')]
amazon_short_text_data = amazon_short_text_data.reset_index(drop=True)
amazon_short_text_data

        LABEL                                               TEXT
0           0  The Worst! A complete waste of time. Typograph...
1           0  sizes recomended in the size chart are not rea...
2           0  Nothing you don't already know If you have eve...
3           0  Doesn't work on a Mac It clearly says on line ...
4           1  Alaska sourdough REad most of the book while v...
...       ...                                                ...
960597      1  Super. This item is all I expected and more wo...
960598      0  Not for beginners! There is way too much talki...
960599      0  Cheap plasticy looking and can't see the light...
960600      1  I really love Puff Daddy and R. Kelly's songs....
960601      1  Classic Jessica Mitford This is a compilation ...

[960602 rows x 2 columns]

In [9]:
label_counts = amazon_short_text_data['LABEL'].value_counts()

# 顯示計數結果
print(label_counts)

LABEL
1    544870
0    415732
Name: count, dtype: int64

In [12]:
amazon_short_text_data['row_id'] = amazon_short_text_data.index
amazon_short_text_data

        LABEL                                               TEXT  row_id
0           0  The Worst! A complete waste of time. Typograph...       0
1           0  sizes recomended in the size chart are not rea...       1
2           0  Nothing you don't already know If you have eve...       2
3           0  Doesn't work on a Mac It clearly says on line ...       3
4           1  Alaska sourdough REad most of the book while v...       4
...       ...                                                ...     ...
960597      1  Super. This item is all I expected and more wo...  960597
960598      0  Not for beginners! There is way too much talki...  960598
960599      0  Cheap plasticy looking and can't see the light...  960599
960600      1  I really love Puff Daddy and R. Kelly's songs....  960600
960601      1  Classic Jessica Mitford This is a compilation ...  960601

[960602 rows x 3 columns]

In [13]:
amazon_short_text_data.to_csv('amazon_short_text_data.csv', index=False)