In [1]:
import pandas as pd
raw_data = pd.read_csv('train_2022.csv')
raw_data

      row_id                                               TEXT  LABEL
0          0  director dirk shafer and co-writer greg hinton...      0
1          1  a charming , quirky and leisurely paced scotti...      1
2          2  the price was good ,  and came quickly though ...      1
3          3  i was looking forward to this game for a coupl...      0
4          4  arguably the year 's silliest and most incoher...      0
...      ...                                                ...    ...
1995    1995                  an imaginative comedy\/thriller .      1
1996    1996  a savvy exploration of paranoia and insecurity...      1
1997    1997  on the other hand for power grating you ve got...      1
1998    1998  like dickens with his passages , mcgrath craft...      1
1999    1999  those who would follow haneke on his creepy ex...      1

[2000 rows x 3 columns]

In [ ]:
test_data = pd.read_csv('train_2022.csv')