In [4]:
import pandas as pd
raw_data = pd.read_csv('train_2022.csv')
raw_data

      row_id                                               TEXT  LABEL
0          0  director dirk shafer and co-writer greg hinton...      0
1          1  a charming , quirky and leisurely paced scotti...      1
2          2  the price was good ,  and came quickly though ...      1
3          3  i was looking forward to this game for a coupl...      0
4          4  arguably the year 's silliest and most incoher...      0
...      ...                                                ...    ...
1995    1995                  an imaginative comedy\/thriller .      1
1996    1996  a savvy exploration of paranoia and insecurity...      1
1997    1997  on the other hand for power grating you ve got...      1
1998    1998  like dickens with his passages , mcgrath craft...      1
1999    1999  those who would follow haneke on his creepy ex...      1

[2000 rows x 3 columns]

In [5]:
test_data = pd.read_csv('test_no_answer_2022.csv')
test_data

       row_id                                               TEXT
0           0   good to know if you can t find these elsewhere .
1           1  love it !  the grill plates come out and pop i...
2           2  i m convinced this was a poorly executed refur...
3           3  i would never have complained about that if it...
4           4  the photo shows the same whole ,  large candie...
...       ...                                                ...
10995   10995             i didn t quite get it the first time .
10996   10996  i ve tried installing with and without the oem...
10997   10997  i was parked at a truck stop in the cincinnati...
10998   10998  i recently bought this case after seeing some ...
10999   10999  the keyboard types only % of the time and the ...

[11000 rows x 2 columns]

# Analysis Data

In [7]:
label_counts = raw_data['LABEL'].value_counts()
count_0 = label_counts.get(0, 0)
count_1 = label_counts.get(1, 0)

print("label 0 counts:", count_0)
print("label 1 counts:", count_1)

label 0 counts: 1000
label 1 counts: 1000

In [8]:
raw_data.describe()

            row_id        LABEL
count  2000.000000  2000.000000
mean    999.500000     0.500000
std     577.494589     0.500125
min       0.000000     0.000000
25%     499.750000     0.000000
50%     999.500000     0.500000
75%    1499.250000     1.000000
max    1999.000000     1.000000

In [10]:
data = pd.read_pickle('Final_Project/motley-fool-data.pkl')
data[data['ticker'] == 'BILI']

,date,exchange,q,ticker,transcript
0,"Aug 27, 2020, 9:00 p.m. ET",NASDAQ: BILI,2020-Q2,BILI,"Prepared Remarks:\nOperator\nGood day, and wel..."
246,"Feb 25, 2021, 8:00 p.m. ET",NASDAQ: BILI,2020-Q4,BILI,"Prepared Remarks:\nOperator\nGood day, and wel..."
1473,"May 19, 2020, 9:00 p.m. ET",NASDAQ: BILI,2020-Q1,BILI,Prepared Remarks:\nOperator\nLadies and gentle...
2862,"Aug 27, 2020, 9:00 p.m. ET",NASDAQ: BILI,2020-Q2,BILI,"Prepared Remarks:\nOperator\nGood day, and wel..."
3601,"May 13, 2021, 8:00 a.m. ET",NASDAQ: BILI,2021-Q1,BILI,Prepared Remarks:\nOperator\nGood day and welc...
4489,"[Bilibili Inc. (BILI -2.03%)Q3 2018 , November...",NASDAQ: BILI,2018-Q3,BILI,Prepared Remarks:\nOperator\nGood day and welc...
5086,"Aug 27, 2020, 9:00 p.m. ET",NASDAQ: BILI,2020-Q2,BILI,"Prepared Remarks:\nOperator\nGood day, and wel..."
5884,"May 19, 2020, 9:00 p.m. ET",NASDAQ: BILI,2020-Q1,BILI,Prepared Remarks:\nOperator\nLadies and gentle...
6198,"Mar 18, 2020, 9:00 p.m. ET",NASDAQ: BILI,2019-Q4,BILI,Prepared Remarks:\nOperator\nLadies and gentle...
6387,"Aug 27, 2020, 9:00 p.m. ET",NASDAQ: BILI,2020-Q2,BILI,"Prepared Remarks:\nOperator\nGood day, and wel..."
14756,"Nov 17, 2021, 7:00 a.m. ET",NASDAQ: BILI,2021-Q3,BILI,Prepared Remarks:\nOperator\nGood day and welc...
17094,"Aug 19, 2021, 8:00 a.m. ET",NASDAQ: BILI,2021-Q2,BILI,Prepared Remarks:\nOperator\nGood day and welc...